/* ELEMENTS */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: rgb(18, 19, 20) !important;
	color: rgb(235, 235, 235) !important;
}

svg {
    background-color: rgb(138, 180, 248);
    border:1px solid gray;
    border-radius:10px;
    width: 1000px;
    height: 640px;
}

/***** HOMEPAGE *****/
.banner {
    opacity: 0;

    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 250ms;
    animation-fill-mode: forwards;

    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}


.btn-item {
    background-color: rgb(255, 251, 0);
    display: flex;
    text-align: center !important;
    border-radius: 5px;

    height: 5rem;
    min-width: 18rem;
    margin-bottom: 2rem;

    border-bottom: 5px solid transparent !important;
   
    transition: border-bottom 250ms cubic-bezier(0, 0, 0.7, 1);
}

.btn-item:hover {
    background-color: rgb(255, 251, 0) !important;
    border-bottom: 5px solid rgb(255, 136, 0) !important;
}

.btn-item:hover > .btn-link {
    transform: scale(1.2);
}

.btn-link {
    font-size: 1.4rem;
    margin: auto;
    text-decoration: none;
    color: rgb(22, 22, 22);

    transform: scale(1);

    transition: transform 250ms cubic-bezier(0, 0, 0.7, 1);
}

.btn-link:hover {
    color: rgb(22, 22, 22);
}

.card-body {
    padding: 10px;
}

.link-card {
    width: fit-content;
    margin: auto;
}

.link-list {
    margin: auto !important;
    padding: 0 10px !important;
    opacity: 0;
    
    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.title-card {
    font-size: 3vw;
    padding-top: 10rem;
    padding-bottom: 10px;
}

/***** QUIZ *****/
.correct {
    fill: rgb(14, 194, 14);
}

.incorrect {
    fill: rgb(248, 12, 12);
}

.gradient-transparent {
    position: relative;
    background-image: linear-gradient(to bottom, transparent 95%, transparent 100%);
    z-index: 1;
}

.gradient-transparent::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(255, 252, 92, 0.733) 90%);
    z-index: -1;

    transition: opacity 0.25s linear;
    opacity: 0;
}

.gradient-transparent:hover::before {
    opacity: 1;
}


.highlighted {
    stroke-width: 2px !important;
    fill:rgb(48, 137, 253)
}

.map {
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
}

.wrapper {
    width: 1600px;
    height: 700px;
    margin: auto;
    margin-top: 10px;
}

/***** GENERAL CLASSES *****/
/* CLASSES */
.border-highlighted {
    border-bottom: 5px solid rgb(255, 251, 0) !important;
}

.border-highlight {
    border-radius: 0px !important;
    border-bottom: 5px inset transparent !important;

    transition: border-bottom 0.25s cubic-bezier(0, 0, 0.7, 1);
}

.border-highlight:hover {
    border-bottom: 5px solid rgb(255, 251, 0) !important;
}

.btn {
    border-width: 0px !important; /* override an annoying pixel problem */
}

.fit-content {
    height: fit-content !important;
    width: fit-content !important;
}

.flex-center {
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
}

.site-btn {
    margin: 5px;
    border: none;
    border-radius: 0px !important;
    padding: 10px;
    background-color:rgb(255, 251, 0);
    color: black;

    font-size: 1em;
    height: 50px;

    transition: font-size 200ms ease-in-out;
}

.site-btn:hover {
    background-color: rgb(255, 251, 0) !important;
    color: black !important;

    font-size: 1.15em;
}

.title {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
    text-align: center;
}

#right {
    width: 50%;
}

/* KEYFRAMES */
@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
